*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Container and Row */

.player{
    height: 75px;
    background-color: rgba(40,40,40,255);
}

.container_main{
    width: 100%;
    display: flex;
}

.sidebar{
    width: 200px;
    height: calc(100vh - 75px);
    background-color: black;
}

.main_content{
    width: calc(100% - 200px);
    background-color: rgba(20,25,34,255);
    height: calc(100vh - 75px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.header{
    height: 75px;
    width: 100%;
    background-color: rgba( 0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    position: relative;
}

.button_header{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-size: 10px;
    font-weight: bolder;
    padding: 10px 40px;
    border-radius: 20px;
    position: absolute;
    right: 5px;
    top: 17px;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.ul-list_main{
    color: rgba(111,114,118,255);
    font-weight: bolder;
    list-style: none;
    padding: 20px;
    flex-wrap: wrap;  
    justify-content: center;
}

.inevidenza_barra{
    width: 25%;
    margin: 0 auto;
    color: rgba(173,255,47,255);
    transform: scale(1.5);
    border-radius: 10px;
    margin-top: 3px;
}

.li-list_main{
    padding: 10px;
    padding-right: 20px;
}

.title_recently-played{
    width: 100%;
    color: white;
    margin: 15px;
    font-weight: bolder;
}

.recently-played{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.col{
    width: calc(100% / 6 - 25px);
    margin: 10px;
}

.img-player{
    width: 100%;
}

.title-player{
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin-top: 5px;
}

.subtitle-player{
    font-size: 9px;
    color: rgba(111,114,118,255);
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.created-for{
    width: 100%;
    display: flex;
}

.img-created-for{
    width: 100%;
}
/* COMMON CLASS */

.d_flex{
    display: flex;
}

.margin-left_15{
    margin-left: 15px;
}

.text-align_left{
    text-align: left;
}

.border-radius{
    border-radius: 100%;
}

/* MEDIA QUERY */

@media  screen and (max-width: 768px) {
    .col{
        width: calc(100% / 4 - 25px);
    }
    
}

@media  screen and (max-width: 576px) {
    .col{
        width: calc(100% / 2 - 25px);
    }
}