*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Container and Row */

.player{
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: rgba(40,40,40,255);
    display: flex;
    justify-content: space-between;
}

.container_main{
    width: 100%;
    display: flex;
    height: calc(100vh - 75px)
}

.sidebar{
    width: 200px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sidebar-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon_sidebar{
    width: 10%;
    color: color: rgba(111,114,118,255);
    vertical-align: middle;
}

.li_sidebar{
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.ul_sidebar{
    justify-content: center;
    width: 100%;
    flex-direction: column;
    list-style: none;
}

.spotify-logo{
    width: 60%;
    padding: 15px;
    margin-bottom: 20px;

}

.text-sidebar{
    color: rgba(111,114,118,255);
    font-size: 10px;
    font-weight: bolder;
    vertical-align: middle;
}

.playlist-title{
    color: white;
    font-weight: bolder;
    padding: 0px 10px 15px 10px;
    font-size: 12px;
}

.crea-playlist{
    color: rgba(111,114,118,255);
    padding: 10px 7px 10px 10px;
    transform: scale(1.2);
}

.title-text-playlist{
    color: rgba(111,114,118,255);
    font-weight: bolder;
    font-size: 12px;
}

.nome-text-playlist{
    color: rgba(111,114,118,255);
    font-weight: bolder;
    font-size: 10px;
    padding: 10px;
    list-style: none;
    
}

.scroll-playlist{
    height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.li-nome-text-playlist{
    margin: 15px 0px;
}

.sidebar-bottom{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.install-app{
    margin-bottom: 10px;
}
.download-img{
    width: 10%;
    vertical-align: middle;
    color: rgba(111,114,118,255);
}

.profile{
    margin-top: 10px;

}

.img-profile{
    width: 13%;
    background-color: gray;
    border-radius: 100%;
    vertical-align: middle;
}

.john-doe{
    color: white;
    font-weight: bolder;
    vertical-align: middle;
    margin-left: 5px;

}

.main_content{
    width: calc(100% - 200px);
    background-color: rgba(20,25,34,255);
    overflow-y: scroll;
    overflow-x: hidden;
}

.header{
    height: 75px;
    width: calc(100vw - 200px);
    margin-left: 200px;
    background-color: rgba( 0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.button_header{
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-size: 10px;
    font-weight: bolder;
    padding: 10px 40px;
    border-radius: 20px;
    position: absolute;
    right: 5px;
    top: 17px;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 75px;
    
}

.ul-list_main{
    color: rgba(111,114,118,255);
    font-weight: bolder;
    list-style: none;
    padding: 20px;
    flex-wrap: wrap;  
    justify-content: center;
}

.inevidenza_barra{
    width: 25%;
    margin: 0 auto;
    color: rgba(173,255,47,255);
    transform: scale(1.5);
    border-radius: 10px;
    margin-top: 3px;
}

.li-list_main{
    padding: 10px;
    padding-right: 20px;
}

.title_recently-played{
    width: 100%;
    color: white;
    margin: 15px;
    font-weight: bolder;
}

.recently-played{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.col{
    width: calc(100% / 6 - 25px);
    margin: 10px;
}

.img-player{
    width: 100%;
}

.title-player{
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin-top: 5px;
}

.subtitle-player{
    font-size: 9px;
    color: rgba(111,114,118,255);
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

.created-for{
    width: 100%;
    display: flex;
}

.img-created-for{
    width: 100%;
}

.col33{
    width: calc(100% / 3);
    
}

.col20{
    width: 20%;
}

.col60{
    width: 60%;
}

.col-footer{
    display: flex;
    justify-content: left;
    align-items: center;
}


.title_footer {
    color: white;
    font-weight: bolder;
    font-size: 12px;
    padding-left: 10px;
}

.subtitle_footer{
    color: rgba(111,114,118,255);
    font-size: 8px;
    font-weight: bolder;
    padding-left: 10px;
}

.icon_footer-cont{
    display: flex;
}

.icon_footer{
    color: rgba(111,114,118,255);
    align-self: center;
    margin: 5px;
}

.img_footer{
    width: 40px;
    height: 40px;
}

.footer_right{
    justify-content: right;
    align-items: center;
}

.bar_right{
    width: 55px;
    height: 4px;
    border-radius: 20px;
    background-color: rgba(111,114,118,255);
    margin-right: 15px;
    flex: 0 0 auto;
}

.bar_right2{
    width: 15px;
    height: 4px;
    border-radius: 20px;
    background-color: white;
    margin-left: 5px;
    flex: 0 0 auto;
}

.icon_right{
    color: white;
    margin: 5px;
}

.center-footer_top{
    justify-content: center;
    align-self: center;
    width: 100%;
    margin-top: 25px;
}

.center-footer_bottom{
    width: 100%;
    justify-content: center;
    margin-top: 25px;
}

.icon_footer-center{
    color: white;
    margin: 0px 10px;
}

.icon_footer-center2{
    transform: scale(1.6);
    margin-left: 10px;
    margin-right: 10px;
}

.bar_footer-center{
    width: 20%;
    height: 4px;
    background-color: rgba(111,114,118,255);
    border-radius: 20px;
    margin-top: 3px;
}

.bar_footer-center2{
    width: 10%;
    height: 4px;
    background-color: white;
    border-radius: 20px;
    margin-top: 3px;
}

.counter-footer{
    color: white;
    font-size: 10px;
    margin: 0px 10px;
    font-weight: bolder;
}

.sidebar-top-576{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 10px;
}

.img-side-576{
    width: 50%;
    margin-top: 5px;    
}

.sidebar-bottom-576{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.img-download-576{
    width: 25%;
    margin-bottom: 10px;
}

.img-profile-576{
    width: 40%;
    margin: 10px;
    background-color: gray;
    border-radius: 100%;
}

/* COMMON CLASS */

.color_white{
    color: white;
}
.d_flex{
    display: flex;
}

.d_none {
    display: none;
}

.align-self_center{
    align-self: center;
}

.margin_20{
    margin: 20px;
}

.height50{
    height: 50%;
    width: 100%;
}

.margin-left_15{
    margin-left: 15px;
}

.text-align_left{
    text-align: left;
}

.border-radius{
    border-radius: 100%;
}

.flex-direction_column{
    flex-direction: column;
}

.margin-bottom_10{
    margin-bottom: 10px;
}

.hover-white:hover{
    color: white;
    cursor: pointer;
}

.border-home{
    border-left: 2px solid rgba(173,255,47,255);
    
}

/* MEDIA QUERY */

@media  screen and (max-width: 768px) {
    .col{
        width: calc(100% / 4 - 25px);
    }

    .subtitle_footer{
        font-size: 6px;
    }
    
}

@media  screen and (max-width: 576px) {
    .col{
        width: calc(100% / 2 - 25px);
    }

    .icon_footer-cont{
        flex-direction: column;
    }

    .icon_footer{
        padding-top: 5px;
        padding-left: 20px;
    }

    .subtitle_footer{
        font-size: 6px;
    }

    .icon_right{
        margin: 2px;
    }

    .bar_right{
        margin-right: 5px; 
    }

    .bar_right2{
        margin-left: 5px; 
    }

    .margin-left_15{
        margin-left: 5px;
    }

    .sidebar{
        width: 50px;
    }

    .d_none576{
        display: none;
    }

    .main_content{
        width: calc(100% - 50px);

    }

    .d_none{
        display: flex;
    }

    .header{
        height: 75px;
        width: calc(100vw - 50px);
        margin-left: 50px;
        background-color: rgba( 0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
    }

}