*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Container and Row */

.player{
    height: 75px;
    background-color: rgba(40,40,40,255);
}

.container_main{
    width: 100%;
    display: flex;
}

.sidebar{
    width: 200px;
    height: calc(100vh - 75px);
    background-color: black
}

.main_content{
    width: calc(100% - 200px);
    background-color: rgba(20,25,34,255);
}

.header{
    height: 75px;
    width: 100%;
    background-color: red;
    position: fixed;
    top: 0;
    left: 200px;
}

.content{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.ul-list_main{
    color: rgba(111,114,118,255);
    font-weight: bolder;
    list-style: none;
    padding: 20px;
    flex-wrap: wrap;  
    justify-content: center;
}

.inevidenza_barra{
    width: 25%;
    margin: 0 auto;
    color: rgba(173,255,47,255);
    transform: scale(1.5);
    border-radius: 10px;
    margin-top: 3px;
}

.li-list_main{
    padding: 10px;
    padding-right: 20px;
}


/* COMMON CLASS */

.d_flex{
    display: flex;
}